.people {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  justify-content: center;
  gap: 30px 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: bold;
  color: #2F4F4F;

  @media(min-width: 1000px)
  {
    grid-template-columns: repeat(4, 200px);
  }

  .person {
    display: flex;
    flex-direction: column;
    height: 231px;
    width: 200px;
    text-align: center;

    &:hover .extra{
      display: flex;
    } 

    .details{
      margin-top: 8px;

      .extra {
        display: none;
        font-weight: normal;
        font-size: 18px;
        line-height: 20,7px;
        color: #000000;
        text-align: center;
        width: 220px;
        height: 287px;
        background-color: #EEEEEE;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
      }
    }

    .photo {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
  
      .rank {
        font-size: 16px;
        line-height: 18,4px;
        color: #8B0000;
        display: flex;
        align-content: center;
        text-align: center;
        border-radius: 50%;
        position: absolute;
        right: 10px;
        background-color: #FFF;
        display: inline-block;
        height: 32px;
        width: 32px;
      }
      img{
        height: 200px;
        width: 200px;
        border-radius: 50%;
      }
      
    }
  }

  
}


